/* Establece el modelo de caja para todos los elementos a border-box */
* {
    box-sizing: border-box;
}

/* Establece el margen del cuerpo de la página a 0 */
body{
    margin: 0;
}

/* Divide las opciones en una cantidad determinada de espacio (width) y les da un espacio para su distribucion (justify-content)  */
/* Float:right Mantiene las opciones del menu en la parte superior Derecha de la pantalla */
.lista{
    width: 900px;
    margin-right: 100px;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    float: right;
}

/* Le quita el estilo de lista a los elementos li dentro del menu superior */
.lista li{
    list-style: none;
}
/* Cambia el color de las Redirecciones y les quita la decoracion por defecto */
.lista li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    padding-left: 15px;
    padding-right: 15px;
}
/* Acciones de cuando se quita o se sobrepone el mouse sobre el elemento */
.lista li a:hover{
    background-color: #cfa01d;
    padding-top: 19px;
    padding-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(251, 255, 0);
    transform: scale(1.5);
    transition: 0.2s;
    border: 1px solid white;
}
/* Establece el estilo de los enlaces cuando el mouse no está sobre ellos */
.lista li a:not(:hover){
    transform: scale(1.0);
    transition: 1s;
}
/* Estila el navegador superior y lo ajusta */
nav{
    background-color: #f8b600;
    height: 70px;
    margin:-5px;
    width: auto;
    border-bottom: 1px solid rgba(63, 63, 63, 0.685);
    margin-bottom: 20px;
}
/* Estilo de la Imagen del navegador */
nav img{
    width: 280px;
    margin: 5px 0px 5px 10px;
    padding: 10px;
}
/* Accion si el mouse pasa sobre la imagen / Aumenta el tamaño de la imagen */
nav img:hover{
    transform: scale(1.2);
    transition: 1.5s;
}
/* Accion de si se quita el mouse sobre la imagen / Devuelve el Elemento a su Tamaño original */
nav img:not(hover){
    transform: scale(1.0);
}
/* Dandole espacio a los Form de todas las Paginas al estar muy pegados al borde / Agrega un margen de 20px a la izquierda de todos los formularios en la página. */
form{
    margin-left: 20px;
}

/* Estilos para la informacion principal del Index */
#Contenedor{
    width: 1000px;
    height: 200px;
    margin: 100px auto;
    text-align: center;
}
/* Le da un contorno al titulo Principal */
#Contenedor h1{
    color: rgba(37, 34, 34, 0.822);
    padding: 30px;
    font-size: 30px;
    border-radius: 30px;
    border: 5px solid rgba(0, 0, 0, 0.596);
    background-color: #ffd000;
}
/* Ajusta el texto dentro de la informacion */
.info{
    padding: 10px;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    border: 5px solid #ffd000;
    box-shadow: 10px 10px 10px #ffd000 ;
}
/* Cambio de color de las etiquetas Span */
.info span{
    color: blue;
    font-weight: 800;
    font-size: 18px;
    font-style: italic;
}

/* Cambia el Color de la etiqueta para enfatizar en el Nombre */
em{
    color:blue;
}

/* Ajusta el apartado del autor en el navegador */
.Autorp{
    background-color: #f8b600;
    border: 1px solid black;
    margin-top: -21px;
    float: right;   
    padding: 10px;
    width: 300px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
    border-bottom-left-radius: 10px;
}